@(mainHost: String))

@defining(play.core.PlayVersion.current) { version =>
    <h2>Count Controller</h2>

    <p>
        Both the HomeController and AsyncController are very simple, and typically controllers present the results of the interaction of several services.  As an example, see the <code>CounterController</code>, which shows how to inject a component into a controller and use the component when handling requests.  The count controller increments every time you click on it, so keep clicking to see the numbers go up.
    </p>

    <p>
        <a target="_blank" href="@ru.ggeproto.domain.counter.controllers.main.routes.CounterController.count.absoluteURL(false, s"$mainHost/counter")">Click here for the CountController action!</a>
    </p>

    <p>
        You can read more about <a href="https://www.playframework.com/documentation/@version/ScalaDependencyInjection">dependency injection</a> in the documentation.
    </p>
}